* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root {
    --dark-blue: #262E38;
    --light-grey: #969FAD;
    --medium-grey: #7C8798;
    --orange: #FC7614;
    --white: #FFF;
    --very-dark-blue: #131518;
    --black-gradient: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}

body {
    background-color: var(--very-dark-blue);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: var(--black-gradient);
    max-width: 25.75rem;
    padding: 2rem;
    border-radius: 1.875rem;
}

.estrela {
    background-color: var(--dark-blue);
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    margin-bottom: 1.875rem;
}

.card h1 {
    color: var(--white);
    font-size: 1.75rem;
    margin-bottom: 0.9375;
}

.card p {
    color: var(--light-grey);
    font-size: 0.9375rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.botoes button {
    width: 3.1875rem;
    height: 3.1875rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    border-radius: 50%;
    border: none;
    color: var(--medium-grey);
    background-color: var(--dark-blue);
    transition: all ease-in-out 0.3s;
}

.botoes button:hover {
    color: var(--white);
    background-color: var(--orange);
    cursor: pointer;
}

.botoes button:focus {
    color: var(--white);
    background-color: var(--light-grey);
}

.card > button {
    width: 100%;
    padding: 0.8125rem;
    background-color: var(--orange);
    border: none;
    border-radius: 1.375rem;

    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    color: var(--white);

    transition: all ease-in-out 0.3s;
}

.card > button:hover {
    color: var(--orange);
    background-color: var(--white);
    cursor: pointer;
}